.about__main {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  color: white;
  @include shadows;
  @include animatedBackground;

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    section {
      justify-self: center;
      align-self: center;
    }

    h1 {
      align-self: start;
      font-size: 2.8rem;
      text-align: center;
      margin: 1.3rem 0;
    }

    p {
      font-size: 2rem;
      padding: 0 3rem;
    }

    &--top {
      grid-column: 1;
      grid-row: 1;
    }

    &--middle {
      grid-column: 1;
      grid-row: 2;
    }

    &--bottom {
      grid-column: 1;
      grid-row: 3;

      p {
        margin: 5px 0 1rem 0;
      }
    }
  }
}