.about__main {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  color: white;
  // @include shadows;
  text-shadow: 2px 2px black;
  background: linear-gradient(61deg, #3C9024 50%, #6CA82A 50%);

  @include respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);

    section {
      justify-self: center;
      align-self: center;
    }

    h1 {
      align-self: start;
      font-size: 2.8rem;
      text-align: center;
      margin: 1.3rem 0;
    }

    p {
      padding: 0rem 2rem;
      margin: 0 0 5px 0;
      font-size: 1.8rem;
      font-family: 'Ubuntu';
      hyphens: auto;
      text-shadow: 1px 1px 2px black;
      font-weight: 500;
    }

    &--top {
      grid-column: 1;
      grid-row: 1;
    }

    &--middle {
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 3rem;
    }

    &--bottom {
      grid-column: 1;
      grid-row: 3;
      margin-bottom: 3rem;
    }
  }
}

.about {
  &__location {
    background: linear-gradient(61deg, #6CA82A 50%, #3C9024 50%);
    display: grid;
    color: white;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(3, 1fr);
      @include shadows;

      p {
        padding: 0rem 2rem;
        margin: 2rem 0 1rem 0;
        font-size: 1.6rem;
        font-family: 'Ubuntu';
        hyphens: auto;
        text-shadow: 1px 1px 2px black;
        font-weight: 500;
      }

      h1 {
        text-align: center;
        justify-self: center;
        padding: 1rem 8px 0 8px;
        font-size: 2.3rem;
      }

      & i {
        font-size: 3em;
        padding: 5px 1rem 0 1rem;
        margin: 0 0 1rem 0;

        span {
          padding: 0 1rem;
        }
      }

      &--top {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: start;
      }

      &--topt {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
        justify-self: center;
      }

      &--middle {
        grid-column: 1;
        grid-row: 3;
        justify-self: center;
        margin: 0 0 2rem 0;

        h1 {
          align-self: start;
          padding: 0;
          margin: -3rem 0 0 0;
        }
      }

      &--middlet {
        grid-column: 1;
        grid-row: 3;
        align-self: center;
        justify-self: center;
        margin: 0rem 0 0 0;
      }

      &--bottom {
        grid-column: 1;
        grid-row: 4;
        align-self: start;
        justify-self: center;
        // margin-bottom: 3rem;

        h1 {
          align-self: start;
          padding: 0;
          margin: -3rem 0 0 0;
        }
      }

      &--bottomt {
        grid-column: 1;
        grid-row: 4;
        align-self: center;
        justify-self: center;
      }
    }
  }

  &__us {
    background: linear-gradient(61deg, #3C9024 50%, #6CA82A 50%);
    display: grid;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);

      &--farm {
        grid-row: 1;
        color: white;
        justify-self: center;
        align-self: center;
        text-shadow: 2px 2px black;

        p {
          padding: 0rem 2rem;
          margin: 0 0 1rem 0;
          font-size: 1.8rem;
          font-family: 'Ubuntu';
          hyphens: auto;
          font-weight: 500;
        }

        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
      }

      &--farmland {
        grid-row: 2;

        img {
          height: auto;
          width: 100%;
        }
      }

      &--farmers {
        grid-row: 3;
        color: white;
        justify-self: center;
        align-self: center;
        text-shadow: 2px 2px black;

        p {
          padding: 0rem 2rem;
          margin: 0 0 1rem 0;
          font-size: 1.8rem;
          font-family: 'Ubuntu';
          hyphens: auto;
          font-weight: 500;
        }

        h1 {
          font-size: 2.5rem;
          text-align: center;
        }
      }
    }
  }

  &__resolve {
    background: linear-gradient(61deg, #6CA82A 50%, #3C9024 50%);
    display: grid;
    color: white;

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      text-shadow: 2px 2px black;

      h1 {
        grid-column: 1;
        justify-self: center;
        grid-row: 1;
        text-align: center;
        font-size: 2.5rem;
        margin-top: 3rem;
      }

      p {
        padding: 0rem 2rem;
        margin: 0 0 1rem 0;
        font-size: 1.8rem;
        font-family: 'Ubuntu';
        hyphens: auto;
        font-weight: 500;
      }

      &--one {
        grid-column: 1;
        grid-row: 1 / -1;
        align-self: center;
        justify-self: center;
      }
    }
  }
}