.header {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr 3fr repeat(3, 1fr);
  color: white;
  z-index: 5;
  @include respond(bigDesktop) {
    &__open {
      display: none;
    }

    &__menu {
      display: none;
    }
  }

  @include respond(phone) {
    &__open {
      display: inline-block;
    }

    &__menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      opacity: 0.985;
      top: 0;
      left: 0;
      background: linear-gradient(-45deg, #FCD2A8, #EC6778, #007D75, #529A86);
      background-size: 400% 400%;
      animation: Gradient 10s ease infinite;
      overflow-x: hidden;
      padding-top: 5rem;
      transition: 0.5s;
      display: grid;
      grid-template-columns: 1fr;

      ul {
        grid-column: 1;
        align-self: center;
        justify-self: center;
      }

      &-close {
        position: absolute;
        right: 1rem;
        top: 0;
        margin-bottom: -2rem;
        font-size: 5rem;
        color: white;
      }

      a {
        display: inline-block;
        color: white;
        font-size: 3rem;
      }
    }

    & nav {
      display: none;
    }
  }

  svg {
    outline: black;
    stroke: black;
    height: 2.5rem;

    &:hover {
      margin: 40px 0 0 0;
    }
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  h1 {
    justify-self: center;
    align-self: center;

    @include respond(phone) {
      display: none;
    }
  }

  &__nav {
    grid-column: 3 / -1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 3rem;
    color: white;
    justify-items: center;
    align-items: center;

    &-about {
      grid-column: 1;
    }

    &-work {
      grid-column: 2;
    }

    &-stuff {
      grid-column: 3;
    }
  }

  &__open {
    padding: 1rem 1rem;
  }
}