.modal__ceo,
.modal__cto,
.modal__cfo {

  @include modalDefaults;
}

.cto__modal--open,
.cfo__modal--open,
.ceo__modal--open {
  @include modalButtonOpen;
}

.ceo__modal--close,
.cto__modal--close,
.cfo__modal--close {
  @include modalButtonClose;
}

.exit__modal--ceo,
.exit__modal--cto,
.exit__modal--cfo {
  grid-row: 1;
  grid-column: 1;
  position: fixed;
  font-size: 2.5rem;
  top: -42rem;
  right: 1rem;
  color: white;
  background: none;
  border: none;
  outline: none;
}