.hero {
  grid-column: 1;
  grid-row: 1;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../src/images/hop-harvest-1596086_1920.jpg);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  @include respond(phone) {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    &__bar-top {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      height: 45%;
      align-self: start;
      display: none;
      background: rgba(255, 255, 255, .275);
    }
    &__bar-bottom {
      display: none;
      grid-column: 1 / -1;
      grid-row: 5 / -1;
      align-self: end;
      height: 45%;
      background: rgba(255, 255, 255, .275);
    }
  
  }
  &--message {
    align-self: center;
    justify-self: center;
    animation: slideinLeft 1s linear;
    font-family: 'Bree Serif', serif;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-weight: 400;
    color: white;
    font-size: 2.3rem;
    hyphens: auto;
    @include shadows;
    h1 {
      padding: 0 4rem;
      margin: 0 0 2rem 0;
    }
    span {
      font-size: 5rem;
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 2rem 0 0 0;
      margin: 0 0 1rem 0;
    }
  }
}