.team {
  @include respond(phone) {
    grid-row: 4;
    grid-column: 1;
    background: linear-gradient(-45deg, #3C9024, #6CA82A, #90B424, #C0C012);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr auto 1fr auto;
    color: white;

    div {
      justify-self: center;
      align-self: center;
    }

    button {
      cursor: pointer;
    }

    p {
      font-size: 2rem;
      hyphens: auto;
    }

    img {
      display: inline-block;
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
      object-fit: cover;
    }

    &__greeting {
      justify-self: center;
      grid-row: 1;
      align-self: start;
      margin: 1rem 0 0 0;
      grid-column: 1;
      font-size: 2.5rem;
    }

    &__ceo {
      justify-self: center;
      grid-row: 1;
      grid-column: 1;
      margin: 4rem 0 0 0;
    }

    &__ceo--text {
      grid-row: 2;
      grid-column: 1;
      justify-self: center;
    }

    &__cto {
      grid-row: 3;
      grid-column: 1;
    }

    &__cto--text {
      grid-row: 4;
      grid-column: 1;
      justify-self: center;
    }

    &__cfo {
      grid-row: 5;
      grid-column: 1;
      margin: 0 0 0rem 0;
      align-self: center;
    }

    &__cfo--text {
      grid-row: 6;
      grid-column: 1;
      justify-self: center;
      margin: 0 0 1rem 0;

      button {
        color: black;
        background: white;
      }
    }
  }
}